.discover-section {
    position: relative;
    margin-top: 56px;
    width: 100vw;
}

.discover-section-background {
    background-color: #D7E6F5;
    position: absolute;
    height: 78%;
    width: 100%;
    z-index: -12;

}

.discover-section p {
    font-family: none;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    line-height: 30px;
    background-color: #D7E6F5;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    padding: 21px 7px;
    row-gap: 20px;
}

.card-container .card {
    padding: 0 0px;
    font-size: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-container .title {
    font-size: 13px;
    padding: 0px 7px;
    padding-top: 7px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: normal;
    background-color: transparent;
    color: #222;
    font-family: system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
}

.card-container img {
    border-radius: 50%;
    overflow: hidden;
    height: 5.4rem;
}

.recently-viewed {
    padding-top: 32px;
}

.recently-viewed .title {
    text-align: center;
    font-weight: 500;
    font-size: 16.5px;
    color: #222;
}

.recently-viewed .sub-title {
    text-align: center;
    font-size: 13.5px;
    padding-top: 1px;
    color: #595959;
}

.recently-viewed-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    /* gap: 5px; */
    column-gap: 6px;
    row-gap: 3px;
    padding-top: 10px;
}

.recently-viewed-container .card {
    position: relative;
}

.recently-viewed-container .heart {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 12;
    padding: 6px;
    background-color: #fff;
    border-radius: 50%;
}

.recently-viewed-container .heart svg {
    display: block;
    fill: #fff;
    height: 20px;
    stroke: #000;
    stroke-width: 2;
    overflow: visible;
}

.recently-viewed-container .card:hover .heart {
    display: block;
}

.recently-viewed-container img {
    width: 100%;
    aspect-ratio: 2/1.305;
    object-fit: cover;
}

.recently-viewed-container .details {
    position: absolute;
    display: flex;
    bottom: 12px;
    left: 8px;
    background-color: white;
    padding: 7px 12px;
    border-radius: 44px;
    font-size: 13px;
    font-weight: 600;
    color: #222;
}

.recently-viewed-container .details .old-price {
    text-decoration: line-through;
    font-weight: 400;
}