.header {
    padding: 6px 0px 6px 9px;
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: #fff;
    width: 100%;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.etsy-logo {
    fill: #F1641E;
    height: 30px;
    min-width: 60px;
    margin-top: 1px;
}


.header button {
    background-color: transparent;
    border: none;
}

input:focus,
button:focus {
    outline: none;
}

.search-section {
    border: 2px solid #000;
    position: relative;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 20px;
    height: 44px;
    background: rgba(34, 34, 34, 0.05);
    margin-left: 3px;
}

.search-bar {
    border: none;
    height: 100%;
    margin-left: 12px;
    margin-bottom: 2px;
    background-color: transparent;
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-btn {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 4px;
    background-color: transparent;
}

.search-icon {
    min-width: 24px;

}

.icons-and-btn {
    display: flex;
}

.login-svg,
.cart-svg,
.heart-svg {
    min-width: 24px;
    width: 24px;

}

.cart-svg {
    margin-right: 10px;
    margin-bottom: 2px;
}

.login-svg {
    margin-right: 16px;
    margin-left: 9px;
    margin-bottom: 2px;
}

.hide-mobile {
    display: none;
}

@media screen and (min-width: 480px) {
    .etsy-logo {
        height: 50px;
        margin-right: 6px;
    }
}

@media screen and (min-width:900px) {
    .header {
        padding: 0;
    }

    .hide-mobile {
        display: flex;
    }

    .header-top {
        padding: 12px 36px;
    }

    .sign-in {
        white-space: nowrap;
        padding: 9px 15px;
        margin-right: 6px;
        border: 2px;
        min-height: 36px;
        min-width: 36px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    .icons-and-btn {
        display: flex;
        align-items: center;
    }

    .icons-and-btn .heart-svg,
    .icons-and-btn .cart-svg {
        min-width: 24px;
        min-height: 24px;
        margin: 12px;
    }

    .hide-desktop {
        display: none;
    }

    .search-section {
        height: 48px;
        padding-right: 18px;
        overflow: hidden;
    }

    .search-bar {
        height: 100%;
        width: 100%;
    }

    .search-btn {
        /* background-color: #F1641E !important; */
        height: 100%;
        margin: 0;
        padding: 0 15px;
    }

    .header-bottom {
        padding: 0 36px;
        border-bottom: 2px solid #ddd;
    }

    .header-bottom .list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 12px;
    }

    .header-bottom .list p {
        font-size: 13px;
        padding: 0 5px;
        margin-top: 4px;
        margin-right: 12px;
        line-height: normal;
        padding-bottom: 12px;
    }

    .gift-header {
        display: flex;
        align-items: center;
        padding-bottom: 12px;
    }

    .header-bottom .list .hello:hover {
        border-bottom: 1px solid black;
    }

}