.modal {
    position: absolute;
    background-color: yellow;
    top: 200px;
    left: 500px;
    max-width: 1400px;
    width: 500px;
    z-index: 20;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center
}

.modal .list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal .list-item>* {
    padding: 10px;
    background-color: white;
    margin: 2px;
    cursor: pointer;
}